# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual env
venv/
.env
__pycache__/
*.pyc


# Django
db.sqlite3
/staticfiles/
/media/
*.log

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
db.sqlite3

echo db.sqlite3 >> .gitignore
git rm --cached db.sqlite3
git add .gitignore
git commit -m "Ignore db.sqlite3"
